@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&display=swap');
@import "tailwindcss";

:root {
  @apply font-instrument-sans;
}

@theme {
  --color-offwhite: #f0f0f0;
  --color-offwhite-1: #f3f3f3;

  --color-green-1: #f8fff4;
  --color-green-2: #eeffe4;
  --color-green-3: #e0ffce;
  --color-green-4: #d2ffb8;
  --color-green-5: #c5ffa2;
  --color-green-6: #b8ff8e;
  --color-green-7: #9cd979;
  --color-green-8: #83b565;
  --color-green-9: #699151;
  --color-green-10: #537340;
  --color-green-11: #99f960;
  --color-green-12: #3b433c;
  --color-green-13: #525c53;
  --color-green-14: #c1ddc4;
  --color-green-15: #ecffe1;

  --color-dark-green: #1b261c;

  --color-gray-1: #fdfcfb;
  --color-gray-2: #f9f8f6;
  --color-gray-3: #f5f3ef;
  --color-gray-4: #f0ede8;
  --color-gray-5: #ebe8e1;
  --color-gray-6: #e7e3da;
  --color-gray-7: #c4c1b9;
  --color-gray-8: #a4a19b;
  --color-gray-9: #84817c;
  --color-gray-10: #686662;
  --color-gray-11: #3a3a3a;
  --color-gray-12: #a9a9a9;
  --color-gray-13: #bababa;
  --color-gray-14: #e3e3e3;
  --color-gray-15: #818181;
  --color-gray-16: #d9d9d9;
  --color-gray-17: #5b5b5b;
  --color-gray-18: #f1f1f1;
  --color-gray-19: #d4d4d4;
  --color-gray-20: #181818;
  --color-gray-21: #4f4f4f;
  --color-gray-22: #707070;
  --color-required-red: #c42d2d;

  --color-blue-1: #00072d;
  --color-blue-2: #001C55;
  --color-blue-3: #0A2472;
  --color-blue-4: #0E6BA8;

  --font-instrument-sans: 'Instrument Sans', sans-serif;
  --font-instrument-serif: 'Instrument Serif', serif;
  --font-ibarra-real-nova: 'Ibarra Real Nova', serif;

  --shadow-card:
    -1px 6px 13px 0px #0000000d, -2px 24px 24px 0px #0000000a,
    -5px 53px 32px 0px #00000008, -9px 94px 38px 0px #00000003,
    -14px 148px 41px 0px #00000000;

  --shadow-card-hover:
    -1px 6px 13px 0px #0000000a, -2px 24px 24px 0px #00000014,
    -5px 53px 24px 0px #00000008, -9px 94px 16px 0px #00000006,
    -14px 148px 41px 0px #00000000;

  --shadow-arrow-button: 0px 4px 20px 0px #0000001f;

  --shadow-popover: 0px 4px 20px 0px #00000014;
  --shadow-inverse-popover: 0px 4px 18px 0px #0000001a;

  --shadow-small: 0px 4px 4px 0px #0000004d;

  --breakpoint-mobile-s: 20rem; /* 320px */
  --breakpoint-mobile-m: 23.438rem; /* 375px */
  --breakpoint-mobile-l: 26.563rem; /* 425px */
  --breakpoint-tablet: 48rem; /* 768px */
  --breakpoint-desktop: 64rem; /* 1024px */
  --breakpoint-desktop-large: 90rem; /* 1440px */
  --breakpoint-desktop-wide: 120rem; /* 1920px */
}